<div class="templates">
    <p>Are you sure you want to delete your account?</p>
    <form  method="post">
        <button class="delete-button" type="submit">DELETE ACCOUNT</button>
    </form>
    {{message}}
    <a href='register'>Go back to register</a>
    {{error}}
</div>
<div id="menu">
    <div id="bar"></div>
    <div id="bar"></div>
    <div id="bar"></div>    
</div>
<div id="menu-left" class="hidden">
    <p id="x">X</p>

    <div class="links">
        <a href="../update">Update Profile</a>
    </div>
    <div class="links">
        <a href="../logout">Logout</a>
    </div>
    <div class="delete">
        <a href="../delete">Delete</a>
    </div>
</div>