 <div class ="templates">
    <form method="post">
        <div class="input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" >
        </div>
        
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off">  
        </div>
        
        <div class="inputbutton-login">
            <button class="login-button" type="submit">Login!</button>
        </div>
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        
    </form>
    <div class="register-link">
        <a href='register'>Go back to register</a>
    </div>

   <div class="error">
        {{error}}
    </div>
</div>

