 <div class ="login">
    <form method="post">
        <div class="input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" >
        </div>
        
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off">  
        </div>
        
        <div class="inputbutton-login">
            <button type="submit">Login!</button>
        </div>
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        
    </form>
    <div class="register-link">
        <a href='register'>go back to register</a>
    </div>

   <div class="error">
        {{error}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</div>