 <div class ="login">
    <form method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" >

        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">Login!</button>
    </form>
    <!-- render failed login-->{{error}}
   <a href='register'>go back to register</a>

   <div class="error">
        {{error}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</div>