<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Creative City</title>
</head>
<body>
    <!--- <h1>Cumcumber Water for everyone</h1>
    <p>There is nothing more delightfull than cucumber water. So why don't serve this water in every kitchen, simply by tab.</p> -->


    <h1>Open Spaces for creative minds</h1>
    <p>Looking for an open space where you can connect and learn something new?</p><br>
    <p>As an artist I often find myself home alone drawing, not interacting with other people and all by my one. But actually I want to 
        share my knowledge. 
        Also I'm interested in learning new ways to express myself . The idea is a place for meeting people of 
        different kind of interests, there they can connect and create something new. 
        So this petition is about to evolve this idea as a legal public space on places the city usually doesn't use anymore. </p>

    <p>So please sign up, if you want to support this idea!</p>

    <form method="post">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname">
        <input type="hidden" name="canvas" id="canvas">
        <canvas id="canvas" width="400" height="100"></canvas>
        <button type="submit">Submit!</button>
    </form>
    <!-- render failed login-->{{error}}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>