<div class="profile">
    <form method="post">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" min="18" max="150">

        <label for="city">City</label>
        <input type="text" name="city" id="city">

        <label for="homepage">Homepage</label>
        <input type="url" name="homepage" id="homepage">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">


        <button type="submit">Continue</button>
    </form>
    <div class="error">
        {{error}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</div>