<div class="profile">
    <form method="post">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" min="18" max="150">

        <label for="city">City</label>
        <input type="text" name="city" id="city">

        <label for="homepage">Homepage</label>
        <input type="url" name="homepage" id="homepage">

        <button type="submit">Continue</button>
    </form>
    {{error}}
    
</div>