<div class="register">
    <form method="post">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" autocomplete="off">

        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" autocomplete="off">

        <label for="email">Email</label>
        <input type="text" name="email" id="email" autocomplete="off">

        <label for="password">Password</label>
        <input type="text" name="password" id="password" autocomplete="off">

        <button type="submit">Sign up!</button>
    </form>
{{error}}
    <a href="login"> Already registerd? Go to login!</a>
</div>