<div class="templates">
    <form method="post">
        <div class="input">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" autocomplete="off">
        </div>  

        <div class="input">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" autocomplete="off">
        </div>        
        <div class="input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" autocomplete="off">
        </div>        
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off">
        </div>        
        <div class="inputbutton-register">
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
            <button type="submit">Sign up!</button>
        </div>
    </form>

    <div class="login-link">
        <a href="login"> Already registerd? Go to login!</a>
    </div>
    
    <div class="error">
        {{error}}
    </div>
</div>
