<div class="templates">
    <p>Thank you for signing and supporting the idea of a creative public space!</p>
    <!-- shwo the numbers of signers and link them -->
    <div class="thanks-signature">
        <img src="{{signature}}">
    </div>
    
    <div class="wantseesigners">
        <a href="signers">Want to see all {{number}} people who signed the petition? Click here!</a>
    </div>

    <div class="deletebutton">
        <form method="post">
            <button type="submit">Unsign Petition</button>
        </form>
    </div>
    
    <div class="error">
        {{error}}
    </div>
</div>

<div id="menu">
    <div id="bar"></div>
    <div id="bar"></div>
    <div id="bar"></div>    
</div>
<div id="menu-left" class="hidden">
    <p id="x">X</p>

    <div class="links">
        <a href="../update">Update Profile</a>
    </div>
    <div class="links">
        <a href="signers">Supporters</a>
    </div>
    <div class="links">
        <a href="../logout">Logout</a>
    </div>
    <div class="delete">
        <a href="../delete">Delete</a>
    </div>
</div>

    